
*{
    margin: 0;
    padding: 0;
    
font-family: 'Work Sans', sans-serif;
}

.gray-layout{
    color: #534C64;

font-size: 1.25rem;

font-weight: 500;
line-height: 30px; 
}


.pink-color{
    color: #FF42A5;
}



/* Header section */

header{
    padding: 40px 240px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-section{
    display: flex;
    align-items: center;
}
nav img{
    width: 5rem;
height: 2.5rem; 
}
.nav-header{

    text-align: center;

font-size: 2.8rem;

font-weight: 700;

}


nav>ul{
    display: flex;

    align-items: center;
}
nav li{
    list-style: none;
    margin-left: 2rem;
    color: #3C354F;
text-align: center;

font-size: 18px;

font-weight: 500;

}
nav li a{
    color: #3C354F;
    text-decoration: none;
}
.follow{
    padding: 17px 24px;
    border-radius: 8px;
background: rgba(11, 2, 35, 0.10);

}
.fa-brands{
    margin-left: 1rem;
}

.fa-youtube{
    color:#F61C0D;
    width: 2.2rem;
    height: 1.5rem;
}
.fa-tiktok{
    color: #000000;
    width: 1.5rem;
    height: 1.5rem;
}

.banner{
    display: flex;
    justify-content: space-between;
    padding: 0 240px;
    
   
}
.banner-description{
    align-items: center;
}
.banner-title{
    color: #0B0223;
text-align: center;

font-size: 48px;

font-weight: 600;

text-transform: uppercase;
}
.banner-name{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
text-align: center;
font-size: 95px;
font-weight: 800;
text-transform: uppercase;
}



















/*Responsive */
 
/*mobile version*/
@media screen and (max-width:576px) {
    nav,nav>ul{
        flex-direction: column;
    }
    nav li{
        margin-top: 36px;
    }
    .follow{
        margin: 0 auto;
    }
    
}