
*{
    margin: 0;
    padding: 0;
    
font-family: 'Work Sans', sans-serif;
}

.gray-layout{
    color: #534C64;

font-size: 1.25rem;

font-weight: 500;
line-height: 30px; 
}


.pink-color{
    color: #FF42A5;
}



/* Header section */

header{
    padding: 40px 240px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-section{
    display: flex;
    align-items: center;
}
nav img{
    width: 5rem;
height: 2.5rem; 
}
.nav-header{

    text-align: center;

font-size: 2.8rem;

font-weight: 700;

}


nav>ul{
    display: flex;

    align-items: center;
}
nav li{
    list-style: none;
    margin-left: 2rem;
    color: #3C354F;
text-align: center;

font-size: 18px;

font-weight: 500;

}
nav li a{
    color: #3C354F;
    text-decoration: none;
}
.follow{
    padding: 17px 24px;
    border-radius: 8px;
background: rgba(11, 2, 35, 0.10);

}
.fa-brands{
    margin-left: 1rem;
}

.fa-youtube{
    color:#F61C0D;
    width: 2.2rem;
    height: 1.5rem;
}
.fa-tiktok{
    color: #000000;
    width: 1.5rem;
    height: 1.5rem;
}

/*banner section*/

.banner-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(../images/Group\ 14.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left;
    width: 75%;
    margin: 0 auto;
    
    
   
}
.banner-description{
    align-items: center;
}
.banner-title{
    color: #0B0223;
text-align: center;

font-size: 3rem;

font-weight: 600;

text-transform: uppercase;
}
.banner-name{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
text-align: center;
font-size: 6rem;
font-weight: 800;
text-transform: uppercase;
}

.btn-pink{
    margin-top: 2.5rem;
    color: #FFF;

font-size: 1.25rem;
border: none;
margin-right: 1rem;

font-weight: 600;
padding: 1.2rem 2rem;

text-transform: uppercase;
border-radius: 3rem;
background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
}

.btn-blue{

    color: #FFF;


  border: none;
font-weight: 600;

text-transform: uppercase;
    font-size: 1.25rem;
    
padding: 20px 35px;
align-items: flex-start;
gap: 10px;
border-radius: 48px;
background: #4EC5F7;
}
.banner-img{ 
    
    text-align: right;
   
}

 .funny-description{
    color: #0B0223;
text-align: center;

font-size: 48px;

font-weight: 700;
margin-top: 7.5rem;

}

.funny-video{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

font-size: 48px;

font-weight: 700;

}


/* Features-games */

.feature-game{
    display: flex;
    gap: 24px;
    width: 80%;
    margin: 0 auto;
    
}

/*hover*/


.feature-game-option{
    position: relative;
    display: inline-block;
}

.video-icon {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.feature-game-option:hover .video-icon {
    display: block ;
    

}

    
     .show-border:hover{
        border: 3px solid red;
        border-radius: 1rem;
        
        
     }


.gray{
    text-align: center;
    font-weight: 400px;
    margin-bottom: 40px;
}




.play-continer{
    display: flex;
    
    align-items: center;
    margin-top: 120px;
    justify-content: center;
    
    

}

.play-title{
    color: #0B0223;

font-size: 3rem;

font-weight: 700;

}

.play-title-pink{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
text-align: right;

font-size: 3rem;

font-weight: 700;

}

.play-img{
    
    

}
.play-img-small{
    width: 318.5px;
height: 365.083px;
position: absolute ;
bottom: -25%;
left: -25%;





}
.play-img-container{
    position: relative;
    margin-left: 16.5rem;
    /* margin: 7.5rem 10rem; */
   
}
.play-img-small img{
    border-radius: 8px;
border: 5px solid #FFF;
background: url(<path-to-image>), lightgray 0px -0.304px / 100% 117.229% no-repeat;


}



/*icon section*/
.icon-container{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 200px auto 120px;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.icon-container>img{
    width: 3.75rem;

}




.icon-title{
    display: flex;
    align-items: center;
    padding: 5px;
    width: 15.62rem;
    
}
.icon-name{
    color: #0B0223;

font-size: 20px;
margin-left: 1rem;

font-weight: 600;

}

.icon-title:hover>.icon-name{
    color: rgb(241, 24, 97);
    
}
.icon-title:hover{
    border: 1px solid rgb(241, 24, 97);
    border-radius: 50px;
    
    
}




























/*Responsive */
 
/*mobile version*/
@media screen and (max-width:576px) {
    nav,nav>ul, .banner-container, .feature-game{
        flex-direction: column;
        
    }
    nav li{
        margin-top: 36px;
    }
    .follow{
        margin: 0 auto;
    }
    .banner-img{
        width: 500px;
        
        
        
    }   
    .icon-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}