
*{
    margin: 0;
    padding: 0;
    
font-family: 'Work Sans', sans-serif;
}

.gray-layout{
    color: #534C64;

font-size: 1.25rem;

font-weight: 500;
line-height: 30px; 
}


.pink-color{
    color: #FF42A5;
}



/* Header section */

header{
    padding: 40px 240px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-section{
    display: flex;
    align-items: center;
}
nav img{
    width: 5rem;
height: 2.5rem; 
}
.nav-header{

    text-align: center;

font-size: 2.8rem;

font-weight: 700;

}


nav>ul{
    display: flex;

    align-items: center;
}
nav li{
    list-style: none;
    margin-left: 2rem;
    color: #3C354F;
text-align: center;

font-size: 18px;

font-weight: 500;

}
nav li a{
    color: #3C354F;
    text-decoration: none;
}
.follow{
    padding: 17px 24px;
    border-radius: 8px;
background: rgba(11, 2, 35, 0.10);

}
.fa-brands{
    margin-left: 1rem;
}

.fa-youtube{
    color:#F61C0D;
    width: 2.2rem;
    height: 1.5rem;
}
.fa-tiktok{
    color: #000000;
    width: 1.5rem;
    height: 1.5rem;
}

.banner-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url(../images/Group\ 14.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left;
    
   
}
.banner-description{
    align-items: center;
}
.banner-title{
    color: #0B0223;
text-align: center;

font-size: 3rem;

font-weight: 600;

text-transform: uppercase;
}
.banner-name{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
text-align: center;
font-size: 6rem;
font-weight: 800;
text-transform: uppercase;
}

.btn-pink{
    margin-top: 2.5rem;
    color: #FFF;

font-size: 1.25rem;
border: none;
margin-right: 1rem;

font-weight: 600;
padding: 1.2rem 2rem;

text-transform: uppercase;
border-radius: 3rem;
background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
}

.btn-blue{

    color: #FFF;


  border: none;
font-weight: 600;

text-transform: uppercase;
    font-size: 1.25rem;
    
padding: 20px 35px;
align-items: flex-start;
gap: 10px;
border-radius: 48px;
background: #4EC5F7;
}
.banner-img{
   
}

 .funny-description{
    color: #0B0223;
text-align: center;

font-size: 48px;

font-weight: 700;
margin-top: 7.5rem;

}

.funny-video{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

font-size: 48px;

font-weight: 700;

}


/* Features-games */

.feature-game{
    display: flex;
    gap: 24px;
    width: 80%;
    margin: 0 auto;
    
}

.gray{
    text-align: center;
    font-weight: 400px;
    margin-bottom: 40px;
}




.play-continer{
    display: flex;
    justify-content:space-evenly;
    margin-top: 120px;
}

.play-title{
    color: #0B0223;

font-size: 3rem;

font-weight: 700;

}

.play-title-pink{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
text-align: right;

font-size: 3rem;

font-weight: 700;

}
.play-description{
    
}





















/*Responsive */
 
/*mobile version*/
@media screen and (max-width:576px) {
    nav,nav>ul, .banner-container, .feature-game{
        flex-direction: column;
    }
    nav li{
        margin-top: 36px;
    }
    .follow{
        margin: 0 auto;
    }
    /* .banner-img{
        width: 500px;
        
    } */
    .big-img{
        width: 500px;
    }
    .teature-game{
    
    }
    
}